<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WayMap">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- Welcome Activity as the launcher -->
        <activity android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity android:name=".LoginActivity" />

        <!-- Home Activity -->
        <activity android:name=".homeActivity" />

        <!-- Distance Activity -->
        <activity android:name=".DistanceActivity" />
        <activity android:name="com.example.waymap.SignupActivity" />
       <!-- More Activity -->
        <activity android:name=".moreActivity" />
        <activity android:name=".profileActivity" />

    </application>

</manifest>
